

html{
    --main-bg-color: #F4F4F4;
    display: grid;
    min-height: 100%;
    background-color: var(--main-bg-color);
}

header{
    font-family: 'Courier New', Courier, monospace;
    display: grid;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

#loginbtn{
    font-size: 20px;
   background-color: rgb(209, 216, 218);
   border-radius: 10px;
   border: none;
   width: 75px;
   height: 40px;
}
#loginbtn:hover{
    background-color: rgba(228, 233, 234, 0.898);
}
body{
     margin: 0;
     display: grid;
     grid-template-rows: 1fr 1fr 5fr 1fr;
}

.container{
    margin: 0;
    background-color: #EDEDED;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#outer{
    margin: 10px;
    display:flex;
    justify-content: center;
}
#new_book{
    background-color: rgb(209, 216, 218);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
}
#new_book:hover{
    background-color: rgba(228, 233, 234, 0.898);
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards{
    background-color: bisque;
    width: 280px;
    height: 300px;
    padding: 10px;
    display: grid;
    justify-content: center;
   grid-template-rows: 1fr 1fr 1fr 2fr; /* creates more balanced space in .cards class*/
    

    margin-top: 30px;
    border-radius: 10px;
}
.cardinfo{
    display: grid;
    justify-content: center;
    
}
toggle{
}
toggle:hover{
    color: red;
    user-select: none;
}
#deleteitem{
    height: 30px;
}
deleteitem:hover{
    color: red;
    user-select: none;
    
}


#container_outer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    
}
.s{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    
}
#form-pages{
    
}
.k{
    display: flex;
    justify-content: flex-start;
}

.ds{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
